<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Scripty | Premium</title>

    <link rel="preload" href="https://scripty.org/assets/jb_mono/woff2/jb.woff2" as="font" type="font/woff2"
          crossorigin="">
    <link rel="preload" href="https://scripty.org/assets/jb_mono/woff2/jb_bold.woff2" as="font" type="font/woff2"
          crossorigin="">
    <link rel="preload" href="https://scripty.org/css/main.css" as="style" type="text/css">
    <link rel="preload" href="https://scripty.org/css/jb_mono.css" as="style" type="text/css">

    <meta name="description" content="Come check out Scripty's premium tiers!">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Scripty - Premium">
    <meta property="og:description" content="Come check out Scripty's premium tiers!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://scripty.org/premium">
    <meta property="og:image" content="https://scripty.org/img/icon-128.webp">

    <link rel="stylesheet" href="https://scripty.org/css/main.css">
</head>

<body>
<div class="container is-widescreen">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://scripty.org/"><h1>Scripty</h1></a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="main-navbar" class="navbar-menu">
            <div class="navbar-start">
                <a href="https://scripty.org/invite.html" class="navbar-item">Invite</a>
                <a href="https://scripty.org/about.html" class="navbar-item">About</a>
            </div>
            <div class="navbar-end"></div>
        </div>
    </nav>

    <h1>Premium Subscription</h1>
    <h2>Logged in as {{ user }}.</h2>
    <h3><a href="{{ url_for('logout') }}?redir=/premium">Not you?</a></h3>
    {% if stripe_subscription_id is not none %}
        <p>
            You are already subscribed to Scripty Premium!<br>

            To manage your subscription, click the following button to go to Stripe,
            where you can update your billing information, change tiers, or cancel your subscription.
        </p>
        <a class="button is-link" style="float: none" href="{{ url_for('premium_stripe_redirect') }}">Manage Subscription</a>
    {% else %}
        <section class="section ">
            <h2 class="title is-3">Switch Currency</h2>
            <div class="buttons has-addons is-centered">
                {% for currency in currencies %}
                    <a class="button {% if currency == active_currency %} is-info is-selected {% endif %}" href="{{ url_for('premium_index', currency=currency) }}">
                        <img src="https://scripty.org/img/currencies/{{ currency.lower() }}.svg" alt="{{ currency }}"
                             style="height: 1.5em; width: 1.5em; margin-right: 0.5em">
                        <span>{{ currency }}</span>
                    </a>
                {% endfor %}
            </div>
        </section>

        {% if pending_free_trial %}
            <section class="section">
                <h2 class="title is-2">Free Trial</h2>
                <p>
                    You have an unclaimed free trial of Scripty Premium!
                    To claim it, pick any subscription length of Tier 1 below.
                    You will not be charged until your trial ends, and can cancel at any time.
                </p>
            </section>
        {% endif %}

        {% for price in prices %}
            <section class="section">
                <h3 class="title is-3">{{ price.name }}</h3>

                <h4 class="title is-4">Features</h4>
                <div class="columns is-multiline is-centered is-vcentered">
                    {% for feature in price.features %}
                        <div class="column is-3">
                            <p class="subtitle is-6">{{ feature }}</p>
                        </div>
                    {% endfor %}
                </div>

                <div class="columns is-multiline is-centered is-vcentered">
                    <div class="column is-one-quarter">
                        <h4 class="title is-4">Weekly</h4>
                        <p class="subtitle is-6">{{ price["prices"]["week"]["formatted_price"] }}</p>
                        <form action="{{ url_for('premium_checkout_redirect') }}" method="post">
                            <input type="hidden" name="price_id" value="{{ price["prices"]["week"]["price_id"] }}">
                            <button class="button is-success" type="submit">Checkout</button>
                        </form>
                    </div>
                    <div class="column is-one-quarter">
                        <h4 class="title is-4">Monthly</h4>
                        <p class="subtitle is-6">{{ price["prices"]["month"]["formatted_price"] }}</p>
                        <form action="{{ url_for('premium_checkout_redirect') }}" method="post">
                            <input type="hidden" name="price_id" value="{{ price["prices"]["month"]["price_id"] }}">
                            <button class="button is-success" type="submit">Checkout</button>
                        </form>
                    </div>
                    <div class="column is-one-quarter">
                        <h4 class="title is-4">Yearly</h4>
                        <p class="subtitle is-6">{{ price["prices"]["year"]["formatted_price"] }}</p>
                        <form action="{{ url_for('premium_checkout_redirect') }}" method="post">
                            <input type="hidden" name="price_id" value="{{ price["prices"]["year"]["price_id"] }}">
                            <button class="button is-success" type="submit">Checkout</button>
                        </form>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% endif %}

    <footer>
        <hr>
        made with <3 by 0/0 and valkyrie_pilot
    </footer>
</div>

</body>
</html>
