<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Scripty | Premium</title>

    <link rel="preload" href="https://scripty.org/assets/jb_mono/woff2/jb.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="https://scripty.org/assets/jb_mono/woff2/jb_bold.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="https://scripty.org/css/main.css" as="style" type="text/css">
    <link rel="preload" href="https://scripty.org/css/jb_mono.css" as="style" type="text/css">
    <link rel="preload" href="https://sa.scripty.org/latest.js" as="script" type="application/javascript">

    <meta name="description" content="Come check out Scripty's premium tiers!">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Scripty - Premium">
    <meta property="og:description" content="Come check out Scripty's premium tiers!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://scripty.org/premium">
    <meta property="og:image" content="https://scripty.org/img/icon-128.webp">

    <link rel="stylesheet" href="https://scripty.org/css/main.css">
</head>

<body>
<div class="body">
    <header>
        <div class="header_title">
            Scripty
        </div>
        <div class="header_links">
            <a href="https://scripty.org/" class="dyn_btn">Home</a><span class="btn_bullet">&nbsp;•&nbsp;</span>
            <a href="https://scripty.org/invite.html" class="dyn_btn">Invite</a><span class="btn_bullet">&nbsp;•&nbsp;</span>
            <a href="https://scripty.org/about.html" class="dyn_btn">About</a>
        </div>
    </header>

    <div id="content">
    <h1>Premium Subscription</h1>
    <h2>Logged in as {{ user }}.</h2>
    <h3><a href="{{ url_for('logout') }}?redir=/premium">Not you?</a></h3>
        {% if stripe_subscription_id is not none %}
        <p>
            You are already subscribed to Scripty Premium!<br>

            To manage your subscription, click the following button to go to Stripe,
            where you can update your billing information, change tiers, or cancel your subscription.
        </p>
        <a class="btn" style="float: none" href="{{ url_for('premium_stripe_redirect') }}">Manage Subscription</a>
        {% else %}
            <table align="center">
            <tr>
                <th></th>
                <th>Weekly</th>
                <th>Monthly</th>
                <th>Yearly</th>
            </tr>
                {% for tier in tiers %}
                    <tr>
                        <td>{{ tier.name }}</td>
                        <td>
                            US${{ "{:20,.2f}".format(tier.weekly_price) }} per week<br>
                            <form action="{{ url_for('premium_checkout') }}" method="post">
                                <input type="hidden" name="lookup_key" value="{{ tier.base_lookup_key }}_weekly">
                                <button class="btn" type="submit" style="float: none; cursor: pointer">Checkout</button>
                            </form>
                        </td>
                        <td>
                            US${{ "{:20,.2f}".format(tier.monthly_price) }} per month<br>
                            <form action="{{ url_for('premium_checkout') }}" method="post">
                                <input type="hidden" name="lookup_key" value="{{ tier.base_lookup_key }}_monthly">
                                <button class="btn" type="submit" style="float: none; cursor: pointer">Checkout</button>
                            </form>
                        </td>
                        <td>
                            US${{ "{:20,.2f}".format(tier.yearly_price) }} per year<br>
                            <form action="{{ url_for('premium_checkout') }}" method="post">
                                <input type="hidden" name="lookup_key" value="{{ tier.base_lookup_key }}_yearly">
                                <button class="btn" type="submit" style="float: none; cursor: pointer">Checkout</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    <footer>
        <hr>
        made with <3 by 0/0 and valkyrie_pilot
    </footer>
</div>

<!-- 100% privacy friendly analytics: https://simpleanalytics.com/dash.scripty.org -->
<script async defer data-collect-dnt="true" src="https://sa.scripty.org/latest.js"></script>
<noscript><img src="https://sa.scripty.org/noscript.gif?collect-dnt=true" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
</html>
