<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Scripty | Order Success</title>

    <link rel="preload" href="https://scripty.org/assets/jb_mono/woff2/jb.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="https://scripty.org/assets/jb_mono/woff2/jb_bold.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="https://scripty.org/css/main.css" as="style" type="text/css">
    <link rel="preload" href="https://scripty.org/css/jb_mono.css" as="style" type="text/css">

    <link rel="stylesheet" href="https://scripty.org/css/main.css">
</head>

<body>
<div class="container is-widescreen">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://scripty.org/"><h1>Scripty</h1></a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="main-navbar" class="navbar-menu">
            <div class="navbar-start">
                <a href="https://scripty.org/invite.html" class="navbar-item">Invite</a>
                <a href="https://scripty.org/about.html" class="navbar-item">About</a>
            </div>
            <div class="navbar-end"></div>
        </div>
    </nav>

    <h1>Subscription Success!</h1>

    <p>
        You have successfully subscribed to Scripty Premium!<br>
        Thanks for supporting us!<br><br>

        You will get a DM from the bot once your order has been processed.<br>
        If you used a credit/debit card, or Apple/Google Pay, this DM should already be in your inbox.
        If it's not, DM the bot and ask what happened.<br>
        Any other payment mediums may take anywhere from a few minutes to a few days to be processed.<br><br>

        <3
    </p>
    <a class="button is-success" href="{{ url_for('premium_index') }}">Continue</a>

    <footer>
        <hr>
        made with <3 by 0/0 and valkyrie_pilot
    </footer>
</div>

</body>
</html>
