<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Scripty | Setup</title>

    <link rel="preload" href="https://scripty.org/assets/jb_mono/woff2/jb.woff2" as="font" type="font/woff2"
          crossorigin="">
    <link rel="preload" href="https://scripty.org/assets/jb_mono/woff2/jb_bold.woff2" as="font" type="font/woff2"
          crossorigin="">
    <link rel="preload" href="https://scripty.org/css/main.css" as="style" type="text/css">
    <link rel="preload" href="https://scripty.org/css/jb_mono.css" as="style" type="text/css">
    <link rel="preload" href="https://sa.scripty.org/latest.js" as="script" type="application/javascript">

    <meta name="description" content="Setup instructions for Scripty">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Scripty - Premium">
    <meta property="og:description" content="Come check out Scripty's premium tiers!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://scripty.org/setup">
    <meta property="og:image" content="https://scripty.org/img/icon-128.webp">

    <link rel="stylesheet" href="https://scripty.org/css/main.css">
</head>

<body>
<div class="container is-widescreen">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://scripty.org/"><h1>Scripty</h1></a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="main-navbar" class="navbar-menu">
            <div class="navbar-start">
                <a href="https://scripty.org/invite.html" class="navbar-item">Invite</a>
                <a href="https://scripty.org/about.html" class="navbar-item">About</a>
            </div>
            <div class="navbar-end"></div>
        </div>
    </nav>

    <h1>Setup Guide</h1>

    <h2>Need Help?</h2>
    <p>
        If at any point you need help, feel free to join our
        <a href="https://s.zero.lgbt/scripty-help" target="_blank">support server</a>,
        or just DM the bot.<br>
        We're happy to help!
    </p>

    <h2>Warnings</h2>

    {% if warn_no_permissions %}
    <h3 class="has-background-warning">No Discord data detected!</h3>
    <p>This page works better if you visit it after you invite the bot, that way it's customized just for you.</p>
    {% endif %}

    {% if major_missing|length > 0 %}
    <h3 class="has-background-danger">Missing Critical Permissions</h3>
    <p>
        You've denied Scripty some critical permissions that it cannot function without!
        Ensure you give the following permissions to the bot before you continue.
    </p>
    <div class="columns is-mobile is-multiline is-centered is-vcentered">
        {% for perm in major_missing %}
        <div class="column is-5-mobile is-4-tablet-only is-3-desktop-only is-2-widescreen">
            <div class="notification is-status" id="shard_0">
                <h3>{{ perm }}</h3>
            </div>
        </div>
        {% endfor %}
    </div>

    <p>It may be easiest to reinvite the bot. Follow the button below to do so.</p>
    <a href="{{ url_for("oauth_invite", no_flow=1) }}" class="button is-black">Reinvite</a>
    {% endif %}

    {% if missing_permissions_flag %}
    <h3 class="has-background-warning">Missing Permissions</h3>
    <p>
        You've denied Scripty some permissions that it can function without, but some features may not work.
        You can always head back to the invite page and re-invite the bot with all permissions.<br>
        If you'd like to do that now, click the button below.
    </p>
    <a href="{{ url_for("oauth_invite", no_flow=1) }}" class="button is-black">Reinvite</a>
    {% endif %}

    {% if no_issues %}
    <h3 class="has-background-success">No Issues Detected</h3>
    <p>
        Scripty has detected no issues with your setup, you're good to go!<br>
        Continue below to get started.<br>
        And remember, if you need help, you can always join the
        <a href="https://s.zero.lgbt/scripty-help">support server</a>.
    </p>
    {% endif %}

    <hr>

    <h2>Getting Started</h2>
    <p>
        To get started, ensure you have a channel dedicated to Scripty's output.<br>
        Scripty can spam a lot when there's a lot of activity in VC,
        so it's best to keep it in a separate channel.<br>
        What it's named is up to you. For this guide, we'll call it <code>#transcriptions</code>.
    </p>

    <h2>Step 1</h2>
    <p>
        Head into the channel you made for Scripty's output, and type <code>/setup</code>.<br>
        This slash command has a few required arguments, and a few optional ones.<br>

        You will immediately be prompted to select a channel to output to.<br>
        <img
                src="https://scripty.org/img/setup_guide/step_1a.png"
                alt="A screenshot of the Discord slash command picker with Scripty's setup command
                 open and the first argument selected, showing a list of channels."
                width="819"
                height="515"
                loading="lazy">
        <br>
        Select the channel you made for Scripty's output.<br>

        Optionally, you can select the server's language, and whether Scripty should be verbose.<br>
        These default to English and off, respectively.<br>
        If you would like to see more about these options, continue to Step 1a.
        Otherwise, submit the slash command and continue to Step 2.<br>
    </p>

    <h2>Step 1a</h2>
    <p>
        You can optionally set Scripty's language and verbosity.<br><br>

        The language is useful if your server does not speak English.<br>
        Scripty will only listen for voice in the language you select, so it should be the language
        your server, or most members, use in voice chats.<br>
        Currently, Scripty only supports a small number of languages, but more are planned.<br>
        <img
                src="https://scripty.org/img/setup_guide/step_1b.png"
                alt="A screenshot of the Discord slash command picker with Scripty's setup command
                 open and the language argument selected, showing a list of languages."
                width="794"
                height="254"
                loading="lazy">
        <br><br>

        The verbosity option is useful only if you want to see more of what Scripty is doing.<br>
        We recommend leaving it off, as it can be quite spammy.
        <br><br>

        Once you've selected your options, submit the slash command and continue to Step 2.
    </p>

    <h2>Step 2</h2>
    <p>
        You will be prompted to agree to Scripty's privacy policy and terms of service.<br>
        You can also find a link to both below.<br>
        <img src="https://scripty.org/img/setup_guide/step_2a.png"
             alt="A screenshot of the submitted slash command and Scripty's response, showing a link
              to the privacy policy and terms of service. Two buttons are attached to the message,
              one to agree and one to disagree."
             width="807"
             height="501"
             loading="lazy">
        <br><br>

        <a href="https://scripty.org/privacy" target="_blank" class="button is-outlined is-transparent">Privacy Policy</a><br><br>
        <a href="https://scripty.org/terms" target="_blank" class="button is-outlined is-transparent">Terms of Service</a><br>
        <br>

        If you agree, click the <code>Agree</code> button and continue to Step 3.<br>
        If you disagree, click the <code>Disagree</code> button. This will halt the setup process.<br>
    </p>

    <h2>Step 3</h2>
    <p>
        This completes the setup process.<br>
        You can now make Scripty join a voice channel and start transcribing.<br>
        To do so, you must first join a voice channel, then type <code>/join</code> in any channel.<br>
        <img src="https://scripty.org/img/setup_guide/step_3a.png"
             alt="A screenshot of the join command in Discord, showing the command and Scripty's
              response."
             width="795"
             height="394"
             loading="lazy">
        <br><br>

        <i>Hint:</i> the <code>/join</code> command accepts an optional argument, a voice channel
        to join. If you don't specify one, Scripty will join the channel you're in.<br>
    </p>

    <h2>Step 4</h2>
    <p>
        Now try speaking something into your microphone.<br>
        Given up to 10 seconds, Scripty should transcribe what you said.<br>
        Keep in mind that Scripty is continually evolving, so it very likely will not be perfect.<br>
        That's okay! It's still learning.<br>
    </p>

    <h2>Step 5</h2>
    <p>
        If you'd like to stop Scripty from transcribing, you can type <code>/leave</code> in any
        channel.<br>
        <img src="https://scripty.org/img/setup_guide/step_5a.png"
             alt="A screenshot of the leave command in Discord, showing the command and Scripty's
              response."
             width="795"
             height="155"
             loading="lazy">
        <br><br>
    </p>
    <h3>Note</h3>
    <p>
        To prevent abuse of our service, we limit both how long you can use Scripty in a single
        channel, and how many users can use Scripty in a single channel.<br>
        By default, these limits are 30 minutes and 5 users, respectively.<br>
        If you reach the 30 minute limit, Scripty will automatically leave the channel. You can
        make it join again by typing <code>/join</code> in any channel.<br>
        If you reach the 5 user limit, Scripty will simply ignore any additional users.<br>
        These limits may seem low, but keep in mind Scripty is completely free. We can't afford to
        run it for hours on end.<br>
        If you would like to increase these limits, check out our
        <a href="https://scripty.org/premium" target="_blank">Premium plans</a>.<br>
        We massively appreciate your support!
    </p>

    <h2>Closing Notes</h2>
    <p>
        Thanks for giving Scripty a try!<br>
        We appreciate your support, and hope you enjoy using Scripty.<br>
        If you need any help whatsoever, or have any feedback on this guide, feel free to join our support server below.<br>
        <a href="https://s.zero.lgbt/scripty-help" target="_blank" class="button is-outlined is-transparent">Support Server</a><br><br>
        If you'd like to support Scripty, check out our Premium plans below.<br>
        <a href="https://scripty.org/premium" target="_blank" class="button is-outlined is-transparent">Premium Plans</a><br><br>
        If you know your way around code and are curious how Scripty works, or would like to contribute to the project, check out our GitHub below.<br>
        <a href="https://github.com/scripty-bot" target="_blank" class="button is-outlined is-transparent">GitHub</a><br><br>
    </p>

    <footer>
        <hr>
        made with <3 by 0/0 and valkyrie_pilot
    </footer>
</div>

<!-- 100% privacy friendly analytics: https://simpleanalytics.com/dash.scripty.org -->
<script async defer data-collect-dnt="true" src="https://sa.scripty.org/latest.js"></script>
<noscript>
    <img src="https://sa.scripty.org/noscript.gif?collect-dnt=true" alt="" referrerpolicy="no-referrer-when-downgrade"/>
</noscript>
</body>
</html>
