<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Scripty | Getting Started</title>

    <link rel="preload" href="https://scripty.org/assets/jb_mono/woff2/jb.woff2" as="font" type="font/woff2"
          crossorigin="">
    <link rel="preload" href="https://scripty.org/assets/jb_mono/woff2/jb_bold.woff2" as="font" type="font/woff2"
          crossorigin="">
    <link rel="preload" href="https://scripty.org/css/main.css" as="style" type="text/css">
    <link rel="preload" href="https://scripty.org/css/jb_mono.css" as="style" type="text/css">

    <meta name="description" content="Setup instructions for Scripty">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Scripty - Getting Started">
    <meta property="og:description" content="Short getting started guide for Scripty">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://scripty.org/setup">
    <meta property="og:image" content="https://scripty.org/img/icon-128.webp">

    <link rel="stylesheet" href="https://scripty.org/css/main.css">
</head>

<body>
<div class="container is-widescreen">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://scripty.org/"><h1>Scripty</h1></a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="main-navbar" class="navbar-menu">
            <div class="navbar-start">
                <a href="https://scripty.org/invite.html" class="navbar-item">Invite</a>
                <a href="https://scripty.org/about.html" class="navbar-item">About</a>
            </div>
            <div class="navbar-end"></div>
        </div>
    </nav>

    <h1>Setup Guide</h1>

    <h2>Need Help?</h2>
    <p>
        If at any point you need help, feel free to join our
        <a href="https://s.zero.lgbt/scripty-help" target="_blank">support server</a>,
        or just DM the bot.<br>
        We're happy to help!
    </p>

    <h2>Warnings</h2>

    {% if warn_no_permissions %}
    <h3 class="has-background-warning">No Discord data detected!</h3>
    <p>This page works better if you visit it after you invite the bot, that way it's customized just for you.</p>
    {% endif %}

    {% if major_missing|length > 0 %}
    <h3 class="has-background-danger">Missing Critical Permissions</h3>
    <p>
        You've denied Scripty some critical permissions that it cannot function without!
        Ensure you give the following permissions to the bot before you continue.
    </p>
    <div class="columns is-mobile is-multiline is-centered is-vcentered">
        {% for perm in major_missing %}
        <div class="column is-5-mobile is-4-tablet-only is-3-desktop-only is-2-widescreen">
            <div class="notification is-status" id="shard_0">
                <h3>{{ perm }}</h3>
            </div>
        </div>
        {% endfor %}
    </div>

    <p>It may be easiest to reinvite the bot. Follow the button below to do so.</p>
    <a href="{{ url_for("oauth_invite", no_flow=1) }}" class="button is-black">Reinvite</a>
    {% endif %}

    {% if missing_permissions_flag %}
    <h3 class="has-background-warning">Missing Permissions</h3>
    <p>
        You've denied Scripty some permissions that it can function without, but some features may not work.
        You can always head back to the invite page and re-invite the bot with all permissions.<br>
        If you'd like to do that now, click the button below.
    </p>
    <a href="{{ url_for("oauth_invite", no_flow=1) }}" class="button is-black">Reinvite</a>
    {% endif %}

    {% if no_issues %}
    <h3 class="has-background-success">No Issues Detected</h3>
    <p>
        Scripty has detected no issues with your setup, you're good to go!<br>
        Continue below to get started.<br>
        And remember, if you need help, you can always join the
        <a href="https://s.zero.lgbt/scripty-help">support server</a>.
    </p>
    {% endif %}

    <hr>

    <h2>Quick Start</h2>
    <p>
        If you just want to get started with Scripty, and you speak English in your server,
        just run <code>/join</code> in the channel you want to send transcripts to.<br>
        Scripty will join the channel and start transcribing.
    </p>
    <hr>

    <h2>Changing Settings</h2>
    <p>Changing any settings requires Scripty to leave and rejoin the channel to apply.</p>
    <h3>Language</h3>
    <p>
        If you speak a language other than English, you can change the language Scripty transcribes in.<br>
        To do so, type <code>/config language</code>, followed by the language code.
        In the future, this list of languages will be rewritten to be more user-friendly,
        but for now, you can find your language code on 
        <a href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes" target="_blank">Wikipedia</a>.<br>
        Changing this setting also changes the language Scripty responds in,
        if Scripty is translated into that language.
    </p>
    <h3>Transcribing only some users</h3>
    <p>
        Scripty supports picking a role of users to exclusively transcribe.<br>
        Run <code>/config transcribe_only_role</code> and pick the role from the slash command menu.
        To disable this feature, run the command, but do not select a role.
    </p>
    <h3>Translating to English</h3>
    <p>
        Scripty can try to translate voice in any language to English text,
        but it is inaccurate and may not work well with some languages.<br>
        That said, if you'd like to try it, run <code>/config translate True</code>.
    </p>
    <h3>Disabling transcription of voice messages</h3>
    <p>
        Voice messages can be sent from any Discord mobile app.
        By default, Scripty transcribes these and sends the result to the same channel.<br>
        You can disable this by running <code>/config transcribe_voice_messages False</code>.
    </p>
    <hr>

    <h2>Note</h2>
    <p>
        To prevent abuse of our service, we limit both how long you can use Scripty in a single
        channel, and how many users can use Scripty in a single channel.<br>
        By default, these limits are 30 minutes and 5 users, respectively.<br>
        If you reach the 30 minute limit, Scripty will automatically leave the channel. You can
        make it join again by typing <code>/join</code> in any channel.<br>
        If you reach the 5 user limit, Scripty will simply ignore any additional users.<br>
        These limits may seem low, but keep in mind Scripty is completely free. We can't afford to
        run it for hours on end.<br>
        If you would like to increase these limits, check out our
        <a href="https://scripty.org/premium" target="_blank">Premium plans</a>.<br>
        We massively appreciate your support!
    </p>
    <hr>

    <h2>Closing Notes</h2>
    <p>
        Thanks for giving Scripty a try!<br>
        We appreciate your support, and hope you enjoy using Scripty.<br>
        If you need any help whatsoever, or have any feedback on this guide, feel free to join our support server below.<br>
        <a href="https://s.zero.lgbt/scripty-help" target="_blank" class="button is-outlined is-transparent">Support Server</a><br><br>
        If you'd like to support Scripty, check out our Premium plans below.<br>
        <a href="https://scripty.org/premium" target="_blank" class="button is-outlined is-transparent">Premium Plans</a><br><br>
        If you know your way around code and are curious how Scripty works, or would like to contribute to the project, check out our GitHub below.<br>
        <a href="https://github.com/scripty-bot" target="_blank" class="button is-outlined is-transparent">GitHub</a><br><br>
    </p>

    <footer>
        <hr>
        made with <3 by 0/0 and valkyrie_pilot
    </footer>
</div>

</body>
</html>
